*.class
.idea/
**target/
**out/
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


desktop.ini
src/main/resources/rebel.xml
*.iml
webapp/src/rebel.xml
