* {
    box-sizing: border-box;
}
.nav_user_dropdown_menu_btn:hover{
    cursor: pointer;
}
.crs_image,
.crs_description,
.crs_page_and_stat{
    display: inline-block;
    position: relative;
}
.registration .content,
.login .content{
    width: 472px;
}
.input-block,
.input-block-qual,
.input-block-faculty{
    display: inline-block;
    float: left;
    width: 100%;
}
.input-block-qual,
.input-block-faculty{
    width: 50%;
}
.inpt_text,
.inpt_textarea,
.inpt_select{
    border: 1px solid #b8b8b8;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
}
.inpt_text,
.inpt_textarea{
    padding: 9px;
}
.inpt_select{
    padding: 8px;
}
.inpt_textarea{
    height: 120px;
}
.inpt_checkbox{
    width: 16px;
    height: 16px;
    margin: 3px 6px 0px 0px;
}
.registration .frm_join_submit,
.login .frm_login_submit,
.study_btn_act_next,
.act_create_course,
.act_create_lesson,
.study_btn_act_to_course,
.study_btn_act_next_lesson{
    margin: 0 auto;
    width: 260px;
    padding: 8px 0px;
}
.registration .frm_join_submit,
.login .frm_login_submit,
.study_btn_act_next,
.act_create_course,
.act_create_lesson{
    display: block;
}
.input-block-faculty,
.input-block-qual,{

}
.study_btn_act_to_course,
.study_btn_act_next_lesson{
    display: inline-block;
    margin: 0px 30px;
}
.registration .frm_join_submit,
.login .frm_login_submit,
.act_create_course,
.act_create_lesson{
    font-size: 26px;
}
.study_btn_act_next,
.study_btn_act_to_course,
.study_btn_act_next_lesson{
    font-size: 22px;
}

.registration .submit-block,
.login .submit-block,
.course_create_new .submit-block,
.lesson_create_new .submit-block{
    display: inline-block;
    width: 100%;
    margin: 24px 0px 66px 0px;
}
.course_create_new .available_for_block{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.course_create_new .faculty_qualification_block{
    display: inline-block;
    width: 33%;
    float: left;
}
.course_create_new .faculty_name,
.course_create_new .qualification_name{
    display: inline-block;
}
.course_create_new .faculty_name{
    font-weight: bold;
}
.course_create_new .qualification_block{
    margin: 4px 0px 0px 16px;
}
.crs_image,
.crs_description{
    padding-right: 20px;
}
.crs_image{
    height: 136px;
    width: 136px;

}
.crs_description{
    width: 634px;
}
.crs_page_and_stat{
    width: 142px;
}
.crs_page_and_stat .btn_green{
    padding: 11px;
}
.crs_txt_description{
    font-size: 18px;
}
.crs_pg_title_block,
.lesson_items_ttl_block{
    display: inline-block;
    width: 100%;
}
.lesson_items_ttl_block{
    margin-bottom: 10px;
}
.crs_pg_title_block .content,
.crs_page_actions_block{
    display: inline-block;
    float: left;
}
.crs_pg_title_block .content{
    /*
    max-width: 710px;
    min-width: 670px;
    */
    margin-right: 20px;
    float: left;
}
.crs_page_actions_block{
    /*
    min-width: 230px;
    max-width: 270px;
    */
    float: right;
}
.crs_page_actions_block .btn_green,
.crs_page_actions_block .btn_blue,
.crs_pg .btn_blue,
.lesson_create_new .btn_blue{
    padding: 5px 14px;
    min-width: 80px;
    float: right;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.crs_page_actions_block .btn_green{
    margin-right: 4px;
}
.crs_pg_text_title{
    display: inline-block;
    padding: 3px 0px;
    font-size: 20px;
    font-weight: bold;
}
.crs_pg_lesson_block,
.lesson_item{
    display: block;
    position: relative;
    background-color: #f7f7f7;
    margin-top: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
.crs_pg_lesson_block{
    padding: 10px;
}
.crs_pg_lesson_block:hover{
    background-color: #fcfcfc;
    cursor: pointer;
}
.lesson_item{
    padding: 20px;
}
.crs_pg_lesson_title{
    font-size: 18px;
    font-weight: bold;
}
.crs_pg_lesson_info_block,
.crs_pg_lesson_study_block{
    display: inline-block;
}
.crs_pg_lesson_study_block{
    float: right;
    margin: 5px;
}
.crs_pg_lesson_study_block .btn_green{
    padding: 5px 14px;
}
.study .content{
    display: block;
    position: relative;
    width: 800px;
    margin-top: 42px;
    margin-bottom: 60px;
}
.study_text_question_block{
    margin-bottom: 16px;
}
.study_text_question,
.study_text_lesson_completed{
    font-size: 36px;
    font-weight: bold;
}
.study_text_lesson_completed{
    text-align: center;
}
.study_single_option,
.study_answer_text{
    display: inline-block;
    position: relative;
    background-color: #fafafa;
    border: 2px solid #e6e3e3;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.study_single_option_text,
.study_answer_text,
.study_revision_answer{
    font-size: 24px;
}
.study_button_block{
    text-align: center;
    margin: 20px 0px;
}
.study_radio_single_option{
    display: none;
}
.answer_correct{
    background-color: #84d173;
}
.answer_incorrect{
    background-color: #fc7c7c;
}
.answer_correct,
.answer_incorrect{
    -webkit-transition: all 150ms ease-out 0ms;
    -moz-transition: all 150ms ease-out 0ms;
    -o-transition: all 150ms ease-out 0ms;
    transition: all 150ms ease-out 0ms;

    border-color: #fff;
}
.answer_correct,
.answer_incorrect,
.answer_correct .study_single_option_text,
.answer_incorrect .study_single_option_text{
    color: #fff;
}
.lesson_completed_block{
    display: none;
}
.lesson_items_block{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.lesson_items_block .icon_x{
    right: 14px;
    top: 14px;
}
.lesson_item_ttl_block,
.lesson_item_type_block{
    display: inline-block;
    float: left;
}
.lesson_item_ttl_block{
    width: 75%;
}
.lesson_item_type_block{
    width: 25%;
}
.lesson_create_new .btn_add_file{
    padding: 2px 10px;
    float: right;
}
.sng_file_block{
    padding: 2px 0px;
}
.sng_file_block .icon_file{
    display: inline-block;
    margin-right: 8px;
    width: 15px;
    height: 22px;
}
.sng_file_block .file_name{
    display: inline-block;
    font-size: 18px;
}
.lesson_view .item_ttl{
    font-size: 20px;
    font-weight: bold;
}
.lesson_view .item_descr{
    font-size: 18px;
}
.lesson_view .item_ttl_block,
.lesson_view .item_descr_block{
    padding-bottom: 10px;
}
.lesson_view .item_block:not(:last-child){
    padding-bottom: 10px;
    border-bottom: 1px solid #ebe8e8;
    margin-bottom: 10px;
}