body {
  font: 14px 'Open Sans', Arial, sans-serif;
  background: #f2f2f2;
  color: #333;
  padding-top: 50px;
}
.navbar-fixed-top,
.footer {
  background-color: #e5e5e5;
}
.navbar-fixed-top {
  border-bottom: 2px solid #dbdbdb;
}
.footer {
  padding-top: 40px;
  border-top: 2px solid #dbdbdb;
}
.search-container {
  position: relative;
}
.search {
  position: absolute;
  top: 16px;
  z-index: 2;
}
.txt-center {
  text-align: center;
}
.txt-bold {
  font-weight: 600;
}
.navbar-nav > li > a {
  font-size: 14px;
  color: #333;
}
.nav-user-icon {
  padding-right: 4px;
}
.txt-uppercase {
  text-transform: uppercase;
}
.form-signin {
  max-width: 470px;
  margin: 0 auto;
}
.btn-signin,
.btn-proceed {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 260px;
}
.glyphicon-small {
  font-size: 0.8em;
}
.google-map {
  height: 560px;
}
.table {
  font-size: 14px;
}
.item-visible-false {
  display: none;
}
.infobox {
  background-color: #fff;
  border: 1px solid #c2c1be;
  border-radius: 2px;
  padding: 14px;
  -webkit-box-shadow: rgba(0,0,0,0.298) 0px 1px 4px -1px;
  box-shadow: rgba(0,0,0,0.298) 0px 1px 4px -1px;
}
.font-regular {
    font-weight: normal;
}
.border-left {
    border-left: 1px solid #ddd;
}
